    * {
        margin: 0;
        padding: 0;
    }
    
    nav {
        background-color: #00000087;
        height: 7vh;
        display: flex;
        justify-content: space-between;
    }
    
    nav ul {
        padding-top: 5px;
        display: inline;
    }
    
    nav li {
        display: inline;
        margin: 10px;
    }
    
    nav a {
        text-decoration: none;
        color: yellow;
    }
    
    .mainhead {
        font-family: 'Hurricane', cursive;
        font-size: 30px;
        
    }

    .searchbardiv{
        display: flex;
        margin: 12px;
        width: 30%;
    }

    .searchbar{
        margin: 0;
        padding: 3px;
        width: 90%;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
        border: none;
    }

    .searchbtn{
        margin: 0;
        padding: 3px;
        border-top-right-radius: 9px;
        border-bottom-right-radius: 9px;
        border: none;
    }

    .container{
        display: flex;
        height: 100vh;
        width: 100%;
    }

    .leftcont{
        display: block;
        width: 80%;
        height: 100%;
        background-color: #000000cc;
        border-right: 2px solid white;
    }

    .rightcont{
        display: flex;
        width: 20%;
        height: 100%;
        background-color: #673ab740;
    }

    .headinghere{
        width: 100%;
        height: 13%;
        display: block;
    }

    .movieverse{
        color: yellow;
        font-family: 'Hurricane', cursive;
        font-size: 40px;
        text-align: center;
    }

    #subHeads{
        color: yellow;
        font-family: cursive;
        font-size: 16px;
        text-align: center;
    }

    .maincontent{
        display: block;
        width: 100%;
        height: 85%;
    }

    .moviename{
        color: #e15d33a1;
        text-align: center;
    }

    .movieimgdiv{
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: center;
    }

    .movieimg{
        margin: 20px 0;
    }